<h1><%= icon_tag(:lightbulb) %> Ideas</h1>
<section>
<ul>
	<%= render @objs %>
</ul>
</section>
<% if current_user %>
	<%= link_to icon_tag(:plus)+t(".new_idea"), new_idea_path, class: "btn" %>
<% end %>
