<section class="well" style="width:70%;">
	<label>Embed your projects: <input id="embed_script_tag" size="50" readonly="readonly" value="<script type='text/javascript' src='<%= embed_url(current_user.id, format: :js) %>'></script>"> </label><br>
	<span class="hidden_hint" id="embed_script_hint">This is a <abbr title="Hypertext Markup Language">HTML</abbr> snippet. Copy and paste this at the position you want to show a full list of your projects on ProVo.</span>
</section>

<script>
jQuery(document).ready(function() {
	$("#embed_script_tag").click(function(){
	    // Select input field contents
	    this.select();
		$("#embed_script_hint").show();
	});
});
</script>