<h1>Projects#edit</h1>
<%= render "form" %>
<p style="text-align:right;">
	<%= link_to t("delete"), @project, method: :delete, class: "btn btn-danger", confirm: "Are you sure you want to delete #{@project.title}?" %>
</p>