<h1><small>Edit project:</small> <%= @obj.title %></h1>
<%= render "form" %>
<p style="text-align:right;">
	<%= link_to t("delete"), @obj, method: :delete, class: "btn btn-danger", confirm: "Are you sure you want to delete #{@obj.title}?" %>
</p>