<h1>Tags</h1>
<div class="well">
<% tag_cloud(@cloud_tags, %w(tc1 tc2 tc3 tc4)) do |tag, css_class| %>
  <%= link_to tag.name, tag_projects_path(tag: tag.name), class: css_class %>
<% end %>
</div>

<ul>
	<% @tags.each do |tag| %>
		<li><%= link_to tag.name, tag_projects_path(tag: tag.name) %> <small>(<%= pluralize tag.count, "project" %>)</small></li>
	<% end %>
</ul>