<p>Project descriptions are created by the respective authors, all rights reserved.<br>
	Powered by <%= link_to "ProVo", "https://github.com/MichaelWhi/provo", title: "ProVo on Github" %> &mdash; &copy; 2013. &mdash; This is an experimental website.</p>